{% extends 'main/clone_base.html' %}
{% block content %}

<html>
                
    <body>

        <div class="container my-3">
            
            <header>

                <br>
                {% for field, errors in form.errors.items() %}
                <div class="alert alert-danger" role="alert">
                    <strong>{{ form[field].label }}</strong>: {{ ', '.join(errors) }}
                </div>
                {% endfor %}
                <!-- flash 오류 -->
                {% for message in get_flashed_messages() %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% endfor %}


                <div class= "upside">

                    <h3 class="title">
                        <span class="title_text" style=float:left;> &nbsp Title: {{ content[0]['board_content_title'] }}
                        </span>

                        <style>
                            .title_text
                            {
                                text-transform: none;
                                height:0px;
                            }
                        </style>
                        
                    </h3>
                

            
                    <div class="btns">
                        <div class="modify">  
                            <a href="#" url="{{ url_for('clone_board.modify',board_content_idx=content[0]['board_content_idx'],password=-1)}}" 
                                class="button" id="modifyBtn" onclick="btn_click(this)">수정</a>
                        </div>
                        <div class="delete">  
                            <a href="#" url="{{ url_for('clone_board.delContent',board_content_idx=content[0]['board_content_idx'],password=-1) }}"
                                class="button" id="deleteBtn" onclick=btn_click(this)> 삭제 </a>
                        </div>
                        <div class="username">
                        <br>
                        &nbsp &nbsp &nbsp  {{content[0]['write_user_name']}} ({{content[0]['write_ip']}})
                        </div>    
                    </div>
                    
                    
                </div>

                <style>
                    .modify{
                        list-style: none;
                        float: right;
                        margin-right:20px;
                        box-sizing: border-box;
                    }
                    .delete{
                        list-style: none;
                        float: right;
                        margin-right:10px;
                        box-sizing: border-box;
                    }
                    .container{
                        list-style: none;
                    }
                    .upside{
                        border-bottom: 2px solid #bcbcbc; 
                        height: 85px;

                    }
                    .username{
                        text-align:left;
                    }
                    .comment_area{
                        text-align:left;
                    }
                </style>
           
            </header>

        </div>
        
        <div class="content_area">
            &nbsp
            <div class="write_div" style="margin-left:10px; text-align:left; white-space:pre-wrap;">{{content[0]['board_content']}}</div>
            <hr color= "black">
        </div> 
        
        <ul class="comment_area">

                    {%for comment in comment_data %}
                        {%if not comment['parent_comment_idx']%}

                            <div class="userInfo" style="  text-align:left;">
                                <p style = "cursor:pointer; margin-bottom:0px;" onclick=comment_click(this,{{comment['comment_idx']}}) >
                                    {{ comment['username'] }} ({{comment['write_ip']}}) &nbsp &nbsp &nbsp &nbsp 
                                    {{ comment['write_time'] }}
                                </p>
                            </div>
                            <div class="comment" style="cursor:pointer; word-break:break-all; text-align:left; " onclick=comment_click(this,{{comment['comment_idx']}}) >
                                <p style="float:left; ">
                                    {{ comment['comment'] }}
                                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <p style="float:right; margin-right:50px;" id="del_btn" idx={{comment['comment_idx']}} onclick=btn_click(this,{{comment['comment_idx']}})
                                        url="{{ url_for('clone_board.delComment',board_content_idx=content[0]['board_content_idx'],comment_password=-1,comment_idx=-1)}}">
                                        X
                                <p>
                                <br>
                                </p>
                                
                            </div>
                            
                            <br>
                            <form method="post" action="{{ url_for('clone_board.subCommentAdd',
                                        board_content_idx=board_content_idx,parent_comment_idx=comment['comment_idx'] )}}">
                                {{form.csrf_token}}
                                <p style="border-bottom-style:hidden; display:none; width:1000px; margin-left:20px;" id="comment_userinfo{{comment['comment_idx']}}"> <br>
                                    ㄴ<input type="username" placeholder="닉네임" class="form-control" name="username" id="username" > 
                                    <input type="password" maxlength="10" placeholder="비밀번호" size= "10"
                                        class="form-control" name="password" id="password" style="width:175px; height:32px; display:inline-block;">
                                    <label for="content_text" style="font-size:16px;"></label>
                                    <textarea name="content_text" style="margin-left:20px;" id="content_text" rows="4"  ></textarea>
                                    <input type="submit" style="font-size:16px; margin-left:20px;" value="등록">
                                </p>

                            </form>

                        {% for subComment in comment_data %}
                            {%if comment['comment_idx'] == subComment['parent_comment_idx']%}




                            
                                <tr style="border: none;">
                                    
                                    <td>
                                        ㄴ &nbsp{{ subComment['username'] }}({{subComment['write_ip']}})
                                    </td>
                                    <td style = "word-break:break-all;" >
                                        {{ subComment['comment'] }}
                                    </td>
                                    
                                    <td>
                                        {{ subComment['write_time'] }}
                                    </td>
                                    
                                    <td>
                                        <div id="comment_btns">
                                            <div class=button id="del_btn" idx={{subComment['comment_idx']}} onclick=btn_click(this,{{subComment['comment_idx']}})
                                                url="{{ url_for('clone_board.delComment',board_content_idx=content[0]['board_content_idx'],comment_password=-1,comment_idx=-1)}}">
                                                삭제
                                            </div>
                                        </div>
                                    </td>
                                    <style>
                                        #comment_btns{
                                            text-align:right;
                                        }
                                        tr:last-child {
                                            border: none;
                                        }
                                    </style>
                                    
                                </tr>
                                
                                
                            {% endif %}
                        {% endfor %}


                        
                        {% endif %}
                    {% endfor %}
                    <form method="post" class="post-form">
                        {{form.csrf_token}}
                        

                        <p style="width:1000px;">
                            <input type="username" placeholder="닉네임" class="form-control" name="username" id="username" > 
                            <input type="password" maxlength="10" placeholder="비밀번호" size= "10"
                                class="form-control" name="password" id="password" style="width:175px; height:32px; display:inline-block;">
                            <form action="{{ url_for('clone_board.content',board_content_idx=board_content_idx) }}" method="post">
                                <label for="content_text" style="font-size:16px;"></label>
                                <textarea name="content_text" id="content_text" rows="4"></textarea>
                                <input type="submit" style="font-size:16px;" value="등록">
                            </form>
                        </p>
                    </form>
                    <hr color= "black">

{% endblock %}

{% block script %}


<script type='text/javascript'>

function btn_click(obj)
{
    var idx = $(obj).attr('idx');
    
    var result = prompt("비밀번호를 입력하세요");
    var url = $(obj).attr('url');
    if(result != "")
    {
        url = url.replace(-1,result);
        if(!(idx === undefined))
        {
            url = url.replace(-1,idx);
        }
        location.href = url;

    }
    else
    {
        alert("비밀번호를 입력해주세요");
    }

}

function comment_click(obj,idx)
{
    var comment_userinfo = document.getElementById("comment_userinfo"+idx);
    if(comment_userinfo.style.display == "block")
    {
        comment_userinfo.style.display = "none";
    }
    else
    {
        comment_userinfo.style.display = "block";
        comment_body.style.display = "block";
    }
    
}

</script>

{% endblock %}