{% extends 'main/clone_base.html' %}
{% block content %}

<html>
                
    <body>

        <div class="container my-3">
            
            <header>

                <br>
                {% for field, errors in form.errors.items() %}
                <div class="alert alert-danger" role="alert">
                    <strong>{{ form[field].label }}</strong>: {{ ', '.join(errors) }}
                </div>
                {% endfor %}
                <!-- flash 오류 -->
                {% for message in get_flashed_messages() %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}   
                </div>
                {% endfor %}


                <div class= "upside">

                    <h3 class="title">
                        <span class="title_text" style=float:left;> &nbsp Title: {{ content[0]['board_content_title'] }}
                        </span>

                        <style>
                            .title_text
                            {
                                text-transform: none;
                            }
                        </style>
                        
                    </h3>
                

            
                    <div class="btns">
                        <div class="modify">  

                            {% if (g.user != content[0]['write_user_name']) or (content[0]['login_user'] != 1) %}
                                <a href="#" url="{{ url_for('clone_board.modify',board_content_idx=content[0]['board_content_idx'],password=-1)}}" 
                                    class="button" id="modifyBtn" onclick="btn_click(this)">수정</a>
                            {% else %}
                                <a href="{{ url_for('clone_board.modify',board_content_idx=content[0]['board_content_idx'],password=-1)}}" 
                                    class="button" id="modifyBtn">수정</a>

                            {% endif %}
                        </div>
                        <div class="delete">  
                            <a href="#" url="{{ url_for('clone_board.delContent',board_content_idx=content[0]['board_content_idx'],password=-1) }}"
                                class="button" id="deleteBtn" onclick=btn_click(this)> 삭제 </a>
                        </div>
                        <div class="username">  
                        <br><br>
                        &nbsp &nbsp &nbsp  {{content[0]['write_user_name']}} 
                        
                        {% if content[0]['login_user'] != 1%}
                            ({{content[0]['write_ip']}})
                        {% endif %}
                            

                        </div>    
                    </div>
                    
                    
                </div>

                <style>
                    .modify{
                        list-style: none;
                        float: right;
                        margin-right:20px;
                        box-sizing: border-box;
                    }
                    .delete{
                        list-style: none;
                        float: right;
                        margin-right:10px;
                        box-sizing: border-box;
                    }
                    .container{
                        list-style: none;
                    }
                    .upside{
                        border-bottom: 2px solid #bcbcbc; 
                        height: 85px;

                    }
                    .username{
                        text-align:left;
                    }
                    .comment_area{
                        text-align:left;
                    }
                </style>
                
            </header>
            <br>
            
            <br>
            

            <script>
                var comment_idx = 0;
                function add_idx()
                {
                    comment_idx += 1;                    
                }
                
                function get_idx()
                {
                    return comment_idx;
                }
            </script>
            <div class="write_div" style="float:left;">
                &nbsp&nbsp&nbsp {{content[0]['board_content']}}
            </div>
            

            <br><br><br><br>
        </div> 
        <hr color= "black">
        
        <div class="recommend_area">
            <a href="{{ url_for('clone_board.recommendProcess',board_content_idx=content[0]['board_content_idx'],mode=1)}}" 
                class="button">
                <span style="color:blue">개추<span>
                {{content[0]['recommend']}}
            </a>
            <a href="{{ url_for('clone_board.recommendProcess',board_content_idx=content[0]['board_content_idx'],mode=0)}}" 
                class="button">
            <span style="color:red">비추<span>
                {{content[0]['unrecommend']}}
            </a>

            </div>
        </div>
        <br>
        <br>
        <br>



        <div class="comment_area">
            <table class="table" style="table-layout:fixed;">
                <tr class="thead-dark">
                </tr>   
                <tbody> 
                    {%for comment in comment_data %}
                        {%if not comment['parent_comment_idx']%}

                            <tr>
                                <td style = "cursor:pointer;" onclick=comment_click(this,{{comment['comment_idx']}}) >
                                    {{ comment['username'] }}({{comment['write_ip']}})

                                </td>
                                <td style = "cursor:pointer; word-break:break-all;" onclick=comment_click(this,{{comment['comment_idx']}}) >
                                    {{ comment['comment'] }}
                                </td>
                                
                                <td style = "cursor:pointer;" onclick=comment_click(this,{{comment['comment_idx']}}) >
                                    {{ comment['write_time'] }}
                                </td>
                                
                                <td>
                                    <div id="comment_btns">
                                        <div class=button id="del_btn" idx={{comment['comment_idx']}} onclick=btn_click(this,{{comment['comment_idx']}})
                                            url="{{ url_for('clone_board.delComment',board_content_idx=content[0]['board_content_idx'],comment_password=-1,comment_idx=-1)}}">
                                            삭제
                                        </div>
                                    </div>
                                </td>
                                <style>
                                    #comment_btns{
                                        text-align:right;
                                    }
                                </style>
                            </tr>

                            <tr>
                                <form method="post" action="{{ url_for('clone_board.subCommentAdd',
                                            board_content_idx=board_content_idx,parent_comment_idx=comment['comment_idx'] )}}">
                                    {{form.csrf_token}}
                                    <td style="border-bottom-style:hidden;  display:none; width:1000px;" id="comment_userinfo{{comment['comment_idx']}}"> <br>
                                        <input type="username" placeholder="닉네임" class="form-control" name="username" id="username" > 
                                        <input type="password" maxlength="10" placeholder="비밀번호" size= "10"
                                            class="form-control" name="password" id="password" style="width:175px; height:32px; display:inline-block;">

                                        <label for="content_text" style="font-size:16px;"></label>
                                        <textarea name="content_text" id="content_text" rows="4"  ></textarea>
                                        <input type="submit" style="font-size:16px;" value="등록">
                                    </td>

                                </form>
                            </tr>

                        {% for subComment in comment_data %}
                            {%if comment['comment_idx'] == subComment['parent_comment_idx']%}
                                <tr style="border: none;">
                                    
                                    <td>
                                        ㄴ &nbsp{{ subComment['username'] }}
                                    </td>
                                    <td style = "word-break:break-all;" >
                                        {{ subComment['comment'] }}
                                    </td>
                                    
                                    <td>
                                        {{ subComment['write_time'] }}
                                    </td>
                                    
                                    <td>
                                        <div id="comment_btns">
                                            <div class=button id="del_btn" idx={{subComment['comment_idx']}} onclick=btn_click(this,{{subComment['comment_idx']}})
                                                url="{{ url_for('clone_board.delComment',board_content_idx=content[0]['board_content_idx'],comment_password=-1,comment_idx=-1)}}">
                                                삭제
                                            </div>
                                        </div>
                                    </td>
                                    <style>
                                        #comment_btns{
                                            text-align:right;
                                        }
                                        tr:last-child {
                                            border: none;
                                        }
                                    </style>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                    <tr>
                    </td>
                    {% endfor %}
                    <script>
                        add_idx();
                    </script>
                    
                </tbody>
            </table>      
            
            <form method="post" class="post-form" id="myAction" action="{{ url_for('clone_board.content',board_content_idx=board_content_idx) }}">
                {{form.csrf_token}}
                <div class="content_area">
                    <input type="username" placeholder="닉네임" class="form-control" name="username" id="username" > <br>
                    <input type="password" maxlength="10" placeholder="비밀번호" size= "10"
                        class="form-control" name="password" id="password" style="width:185px;">
                        <label for="content_text" style="font-size:16px;"></label>
                        <textarea name="content_text" id="content_text" rows="4"></textarea>
                        <input type="submit" style="font-size:16px;" value="등록">
                    </form>
                </div>
            </form>

            <style>
                .content_area{
                    text-align:left;
                }
            </style>
        </div>

    </body>
    
    <br>
</html>

{% endblock %}


{% block script %}

<script>



window.onload = function() {
    var form_url = $("#myAction").attr('action');
}

function btn_click(obj)
{
    var idx = $(obj).attr('idx');
    
    var result = prompt("비밀번호를 입력하세요");
    var url = $(obj).attr('url');
    if(result != "")
    {
        url = url.replace(-1,result);
        if(!(idx === undefined))
        {
            url = url.replace(-1,idx);
        }
        location.href = url;

    }
    else
    {
        alert("비밀번호를 입력해주세요");
    }

}

function comment_click(obj,idx)
{
    var comment_userinfo = document.getElementById("comment_userinfo"+idx);
    if(comment_userinfo.style.display == "block")
    {
        comment_userinfo.style.display = "none";
    }
    else
    {
        comment_userinfo.style.display = "block";
        comment_body.style.display = "block";
    }
    
}

</script>

{% endblock %}