{% extends 'main/clone_base.html' %}
{% block content %}

<html>
    <body>
        <div class="container my-3">
            <form method="post" class="post-form">
                {{ form.csrf_token }}
                {% include "checklist_form_errors.html" %}
                Title:&nbsp 
                <input type="content_title" class="form-control" name="content_title" id="content_title" value={{ form.data.content_title or ''}}>
                    
                <form action="{{ url_for('clone_board.list',board_content_idx=board_content_idx) if form.data.content_text else url_for('clone_board.list') }}" method="post">
                    
                    <label for="content_text" style="font-size:16px;">Content:</label>
                    <textarea name="content_text" id="content_text" rows="15">{{form.data.content_text or ''}}</textarea>
                    <input type="submit" style="font-size:16px;" value="등록">
                    
                </form>
            </form>
            <style>
                .post-form{
                    position:relative;
                    font-size:14px;
                    text-align:left;
                }
            </style>


            
        </div>

    </body>
    <br>
</html>



{% endblock %}
