{% extends 'main/clone_base.html' %}
{% block content %}

<html>
    <body>
        <div class="container my-3">
            <table class="table">
                <thead>
                    <tr class="thead-dark">
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일시</th>
                    </tr>
                </thead>

                <tbody>
                    {% if content_list %}
                        {% for content in content_list %}
                        <tr>
                            <td style = "cursor:pointer;" onClick = "location.href='/clone_board/list/{{content['board_content_idx']}}'">
                            {{ content['board_content_idx'] }}
                            </td>
                        <td style = "cursor:pointer;" onClick = "location.href='/clone_board/list/{{content['board_content_idx']}}'">
                            {{ content['board_content_title'] }}
                            </td>
                            <td style = "cursor:pointer;" onClick = "location.href='/clone_board/list/{{content['board_content_idx']}}'">
                            {{ content['write_user_name'] }}
                            </td>
                            <td style = "cursor:pointer;" onClick = "location.href='/clo    ne_board/list/{{content['board_content_idx']}}'">
                            {{ content['write_time'] }}
                            </td>
                            
                        </tr>

                        {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="3">너에게 받은만큼 더 행복해질게</td>
                    </tr>
                    {% endif %}
                    <br>
                </tbody>
            </table>
            <div class="btns">
                <li><a href="/clone_board/add" class="button big">글쓰기</a></li>
            </div>


            <style>
                .btns{
                    list-style: none;
                }
            </style>
        </div>

    </body>
</html>





{% endblock %}
