{% extends 'main/clone_base.html' %}
{% block content %}

<html>
    <body>
        <div class="container my-3">


            <br>
            
            <!-- flash 오류 -->
            {% for message in get_flashed_messages() %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endfor %}


            <table class="table">
                <thead>
                    <tr class="thead-dark">
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일시</th>
                    </tr>
                </thead>

                <tbody>
                    {% if content_list %}
                        {% for content in content_list %}
                        <tr>
                            <td style = "cursor:pointer;" onClick = "location.href='/clone_board/content/{{content['board_content_idx']}}'">
                            {{ content['board_content_idx'] }}
                            </td>
                        <td style = "cursor:pointer;" onClick = "location.href='/clone_board/content/{{content['board_content_idx']}}'">
                            {{ content['board_content_title'] }}
                            </td>
                            <td style = "cursor:pointer;" onClick = "location.href='/clone_board/content/{{content['board_content_idx']}}'">
                            {{ content['write_user_name'] }}

                            {% if content['login_user'] != 1 %}
                                ({{content['write_ip']}})
                            {%endif%}
                            </td>
                            <td style = "cursor:pointer;" onClick = "location.href='/clone_board/content/{{content['board_content_idx']}}'">
                            {{ content['write_time'] }}
                            </td>
                            
                        </tr>

                        {% endfor %}
                    {% else %}
                    {% endif %}
                    <br>
                </tbody>
                
            </table>

            <div class="btns" style="float:right; margin-right:40px">
                <a href="/clone_board/add" class="button big">글쓰기</a>
            </div>

            <style>
                .btns{
                    list-style: none;
                }
            </style>
            <br><br>

            <!-- 페이징처리 시작 -->
            <ul class="pagination justify-content-center">
                
                {% if searchMode %}
                    {% if searchContent %}
                        <a class="page-link" href="?page=1&searchMode={{searchMode}}&content={{searchContent}}">처음</a> 
                        {%if cur_page !=1 %}
                            <a class="page-link" href="?page={{cur_page-1}}&searchMode={{searchMode}}&content={{searchContent}}">이전</a>

                        {%endif%}
                        {% for page in page_btn_list %}
                            <a class="page-link" href="?page={{page}}&searchMode={{searchMode}}&content={{searchContent}}">
                            {{page}}
                            </a>
                        {% endfor %}
                        {%if cur_page != max_page%}
                            <a class="page-link" href="?page={{ cur_page+1 }}&searchMode={{searchMode}}&content={{searchContent}}">다음</a>
                        {% endif %}
                        <a class="page-link" href="?page={{max_page}}&searchMode={{searchMode}}&content={{searchContent}}">끝  </a> 
                    {% else %} 
                        <a class="page-link" href="?page=1">처음</a> 
                        {%if cur_page != 1%}
                            <a class="page-link" href="?page={{cur_page-1}}">이전</a>
                        {% endif %}
                        {% for page in page_btn_list %}
                            <a class="page-link" href="?page={{page}}">
                            {{page}}
                            </a>
                        {% endfor %}
                        {%if cur_page != max_page%}
                            <a class="page-link" href="?page={{ cur_page+1 }}">다음</a>
                        {% endif %}

                        <a class="page-link" href="?page={{max_page}}">끝  </a> 
                    {% endif %}
                {% else %}
                    <a class="page-link" href="?page=1">처음</a> 
                    {% if cur_page != 1 %}
                        <a class="page-link" href="?page={{cur_page-1}}">이전</a>
                    {% endif %}

                    {% for page in page_btn_list %}
                        <a class="page-link" href="?page={{page}}">
                        {{page}}
                        </a>
                    {% endfor %}
                    {%if cur_page != max_page%}
                        <a class="page-link" href="?page={{ cur_page+1 }}">다음</a>
                    {% endif %}
                    <a class="page-link" href="?page={{max_page}}">끝  </a> 
                {% endif %}
                
            </ul>
            <!-- 페이징처리 끝 -->
                


            
                <center>
                    <select name="search_option" id="search_option" style="width:10%; margin-right:3px; ">
                        <option value="write_user_name">글쓴이</option>
                        <option value="board_content_title">제목</option>
                        <option value="board_content">내용</option>
                    </select>
                        <input type="search" class="search_content" name="search_content" 
                        id="search_content" maxlength="10" rows="1" style="width:20%; height:45px;"></input>
                    <a class="button big send_search" url="#" onclick=send_search(this) style="height:45px;">검색</a>
                </center>
                
                <style>
                    #search_option
                    {
                        margin-left:30%;
                        float:left;
                    }
                    .search_content
                    {
                        margin-left:0.3%;
                        height:50px;
                        float:left;
                    }
                    .send_search
                    {
                        margin-right:30%;
                    }
                </style>
                
                






            
        </div>

    </body>
</html>

{% endblock %}

{% block script %}

<script>
    function send_search(obj)
    {   
        var selectBox = document.getElementById("search_option");
        var selectedMode = selectBox.options[selectBox.selectedIndex].value;
        var content = document.getElementById("search_content").value;
        location.href = "?searchMode="+selectedMode+"&content="+content;
    }


</script>


{% endblock %}