{% extends 'main/clone_base.html' %}
{% block content %}

<html>
    <body>
        <div id="wrapper">

            <section id="cta" class="main special">
                <h2>&nbsp;Bye Bye MyFriend</h2>
                
                <div class="container text-center">

                    <ul class="link">
                        <div style="text-align: center;">
                            <li><a href="/clone_board/list" class="button big">memory</a></li>
                            
                        </div>
                    </ul>


                    <style>
                        .link{
                            list-style: none;
                        }

                    </style>

                </div>
            </section>


        </div>

    </body>
</html>





{% endblock %}
