{% extends 'main/base.html' %}
{% block content %}


<html>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- CTA -->
					<section id="cta" class="main special">
						<h2>&nbsp;Get Start</h2>
						<div class="container text-center">
							<ul class="login">
								<div style="text-align: center;">
									{% if g.user %}
										<li><a href="/checklist" class="button big">CheckList</a></li>
									{% else %}
										<li><a href="/login" class="button big">CheckList</a></li>
									{% endif %}
								</div>

							</ul>
							<ul class="clone_main">
								<div style="test-align: center;">
									<li><a href="/clone_main" class="button big">CloneMain</a><li>

								</div>
							</ul>

							<style>
								.login{
									list-style: none;
									padding-right: 20px;
								}
								.clone_main{
									list-style: none;
									padding-right: 20px;
								}

							</style>

						</div>
					</section>
			</div>

{% endblock %}