{% extends 'main/base.html' %}
{% block content %}


<html>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- CTA -->
					<section id="cta" class="main special">
						<h2>&nbsp;Board List</h2>
						<div class="container text-center">
							<ul class="clone_main">
								<div style="test-align: center;">
									<li><a href="/clone_board/list" class="button big">PPIPPIGallery</a><li>
								</div>
							</ul>

							<style>
								.login{
									list-style: none;
									padding-right: 20px;
								}
								.clone_main{
									list-style: none;
									padding-right: 20px;
								}

							</style>

						</div>
					</section>
			</div>

{% endblock %}
			