{% extends 'main/base.html' %}
{% block content %}

<div class="container my-3">
<!-- ------------------------------ [edit] -------------------------------- -->
	<img src ={{data}}>
    <div class="row justify-content-end my-3">
        <div class="col-4 input-group">
        	<form action="show_program_list" method = "get">
        		<input placeholder="input text : " name = "search" required />
        		<button>검색</button>
        	</form>
        </div>
    </div>
    


<!-- ---------------------------------------------------------------------- -->

{% endblock %}